.containerPai {
  background-color: var(--cinza-fundo);
  width: 100%;
  height: 400vh;  
}

.containerHeroSection {
  width: 100%;
  height: 25%;
  color: var(--azul);
}

.containerTituloLogo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
}

.containerTitulo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  color: var(--azul);
  font-size: 4rem;
  font-weight: bold;
  margin-top: 7rem;
}

.containerLogo {
  width: 50%;
  height: 100%;
}

.containerButton {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.conheca {
  margin-bottom: 10rem;
  background-color: #25406a;
  color: white;
  width: 55%;
  border-radius: 5px;
  text-align: center;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 2rem;

  a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
  }
}


.containerTabela {
  width: 100%;
  height: 42%;
  display: flex;
  flex-direction: row;
}

.containerTituloTabela {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerTituloT {
  width: 80%;
  height: 50% ;
}

.tituloTabela {
  font-size: 82px;
  color: var(--azul);
}

.containerTabelaIframe {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerIframe {
  width: 90%;
  height: 90%;
}

.iframe {
  width: 100%;
  height: 100%;
}

.containerJogadores {
  height: 33%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerTituloJogadores {
  width: 70%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.7rem ;
  color: white;
  font-weight: bold;
  font-size: 1.7rem;
  background-color: var(--azul);
}

.containerIframes {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.containerEscalacao {
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerJogador {
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}