.container {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  
  .title {
    font-size: 2.5em;
    color: #333;
  }
  
  .description {
    font-size: 2rem;
    color: #666;
    width: 30%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .tabela {
    margin-bottom: 40px;
    display: flex;
    width: 100%;
    flex: 1;
  }
  
  .tituloTabela {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 .conheca {
    margin-bottom: 2rem;
    background-color: blue;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    text-align: center; 
    a {
        color: white;
        text-decoration: none;
      }
  }

  
 
