.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f5f5f5;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(219, 219, 226);
  border-radius: 1rem;
  width: 85%;
  min-height: 60vh;
  margin-top: 5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.titulo {
  font-size: 2rem;
  font-weight: bold;
  color: #25406A;
  text-align: center;
}


.gridEquipe_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding-bottom: 1rem;
}

.gridEquipe_2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;

}

.details {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.details summary {
  cursor: pointer;
  color: #25406A;
  font-weight: bold;
  outline: none;
  list-style: none;
  padding: 0.2rem 0;
  transition: color 0.2s;
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.details[open] summary {
  color: #1a2c4a;
}

.description {
  font-size: 10rem;
  color: #666;
}

.membro .details p {
  font-size: 0.8rem !important;
}

.membro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  gap: 1rem;
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagem {
  width: 150px;
  height: 150px;
  border-radius: 10rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(37, 64, 106, 0.12);
  background: #e0e0e0;
  border: 2px solid #25406A;
}

.membro img:hover {
  transform: scale(1.05);
  transition: transform 1.5s;
}

.membro p {
  font-size: 1rem;
  font-weight: bold;
  color: #25406A;
  margin: 0;
}

.membro span {
  font-size: 0.9rem;
  color: #666;
}

/* Responsividade */
@media (max-width: 900px) {
  .main {
    width: 95%;
    margin-top: 4rem;
    padding: 0.5rem;
  }
  .gridEquipe {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
 .membro img {
    width: 80px;
    height: 112px;
  }
}
  .titulo {
    font-size: 1.5rem;
  }


@media (max-width: 500px) {
  .main {
    width: 100%;
    margin-top: 2rem;
    padding: 0.2rem;
  }
  .titulo {
    font-size: 1.2rem;
  }
  .membro img {
    width: 60px;
    height: 84px;
  }
  .titleContainer {
    margin-bottom: 1rem;
  }
}