.containerPai {
  background-color: var(--cinza-fundo);
  width: 100%;
}

.containerHeader {
  height: 5%;
  width: 100%;
}

.containerHeroSection {
  width: 100%;
  height: 25rem;
  color: var(--azul);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.logoImage{
  width: auto;
  height: 50%;
}
.buttonImageContainer{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.containerButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}

.containerTituloLogo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.containerTitulo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--azul);
  font-size: 4rem;
  font-weight: bold;
}

.containerLogo {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: auto;
  height: 100%;
}

.conheca {
  background-color: var(--azul);
  color: white;
  width: 80%;
  border-radius: 5px;
  text-align: center;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

}
.buttonText {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
}

.conheca:hover {
  background-color: var(--cinza-fundo);
  width: 55%;
  border-radius: 5px;
  text-align: center;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, border 0.3s ease;
  border: 2px solid var(--azul);

  .buttonText {
    color: var(--azul);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
  }
}


.containerTabela {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #253f6a11;
}

.containerTituloTabela {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerTituloT {
  width: 80%;
  height: 50% ;
  display: flex;
  justify-content: flex-start;
}

.tituloTabela {
  font-size: 3rem;
  color: var(--azul);
}

.containerTabelaIframe {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerIframe {
  width: 100%;
  height: 90%;
}

.containerCampeoes {
  height: 32%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tituloCampeoes {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tituloCampeoesText {
  width: 70%;
  height: 50%;
  color: var(--azul);
  font-size: 4rem;
  font-weight: bold;
}

.containerCarrossel {
  width: 80%;
  height: 80%;
  display: flex;;
  align-items: center;
  justify-content: center;
}

/* Tabela */
.table{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #dddddd;
}
.tableHeader{
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
.headerItem{
  width: 10%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid rgba(0,0,0,0.2);  
}
.headerItemText {
  font-size: 1rem;
  color: var(--azul);
  font-weight: bold;
}
.clubItem{
  width: 17%;
  border-right: 2px solid rgba(0,0,0,0.2);  
}
.clubItem, .retrospectItem{
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.retrospectItem{
  width: 23%;
}
.tableTeam{
  width: 100%;
  height: 4.6%;
  border-top: 2px solid rgba(0,0,0,0.2);
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .containerPai {
    height: 400vh;
  }

  .titulo {
    font-size: 2.8rem;
  }

  .tituloCampeoesText {
    font-size: 2.8rem;
    width: 100%;
    text-align: center;
  }
  @media(max-width: 1024px) {
    .containerHeroSection {
      display: flex;
      flex-direction: column;
    }
    .buttonText{
      font-size: 12px;
    }
  }
}