.loadingContainer {
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    font-size: 1rem;
    gap: 2rem;
  }
  
  .loadingContainer p {
    margin-top: 16px;
    color: #6b7280;
  }